<div class="banner">
  <div class="content">
    <h1 class="mb-5">The True Meaning Of Luxary and Convenience</h1>
    <button routerLink="/logindashbord" routerLinkActive="active"  class="btn btn-secondary">find your home now</button>
  </div>

</div>
<div class="container mt-5 mb-5">
  <h1 class="text-center">Easy way to  Find Your Desired Living</h1>
  <div class="row mt-5">
    <!--one-->
   <div class="col-lg-4 mt-2">
     <div class="stepbox">
       <h1>1</h1>
       <p>Choose Location</p>
     </div>
   </div>
   <!--two-->
   <div class="col-lg-4 mt-2">
    <div class="stepbox">
      <h1>2</h1>
      <p>Check For Pricing</p>
    </div>
  </div>
  <!--three-->
  <div class="col-lg-4 mt-2">
    <div class="stepbox">
      <h1>3</h1>
      <p>Rent Or Buy Home</p>
    </div>
  </div>
  </div>
</div>

